<div class='meetups'>
	<% if @meetups.present? %>
		<%= render @meetups %>
	<%else%>
		<p>Sorry! No Meetups yet :(</p>
	<%end%>

	<%if can? :manage, Meetup.new %>
		<p class='actions'>
			<%= link_to 'Add New Meetup', new_meetup_path, class:"btn btn-primary" %>
		</p>
	<%end%>
</div>