<div class="hero-unit">
  <%= image_tag('erierb-banner.jpg') %>
  <p>Welcome to the home of the Welcome to the Erie, Pennsylvania User Group!</p>
  <p>Meetups held every third Thursday of the month</p>
</div>
<div class="row-fluid">
  <div class="span4">
    <h2>Our Next Meetup</h2>
    <h5><em>October 18, 2012</em></h5>
    <dl class="dl-horizontal left" style="text-align:left">
      <dt>Title</dt>
      <dd>OOD's Return to Rails</dd>
      <dt>Presenter(s)</dt>
      <dd>Matthew Machuga</dd>
    </dl>
    <h5>About</h5>
    <p>
    Object Oriented Design has been making a swift and strong return to both the Ruby
    and Rails ecosystems over the past year or so.  People are letting go of the idea
    that OOD belongs with Java, and bringing in best practices to their Rails projects.
    We look into how to achieve a healthy balance of OOD and practicality, and why
    these two things not be orthogonal.
    </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div><!--/span-->
  <div class="span4">
    <h2>Our Last Meetup</h2>
    <h5><em>September 20, 2012</em></h5>
    <dl class="dl-horizontal left" style="text-align:left">
      <dt>Title</dt>
      <dd>Meet and Greet + Pairing/Hacking</dd>
      <dt>Presenter(s)</dt>
      <dd>None</dd>
    </dl>
    <h5>About</h5>
    <p>
    We'll be meeting up at the Brickhouse Coffee shop for our first meetup.
    We'll have a room reserved with a fair-sized TV and room for discussions, hacking, etc.
    Coffee, food, and alcohol will be available at the coffee shop.
    Wifi is also available.  We'll try to have some spare power strips.
    </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div><!--/span-->
  <div class="span4">
    <h2>Announcements</h2>
    <h5>Giveaways!</h5>
    <p>
    We will be raffling off two $25 Code School gift cards at our next meetup!
    I want to thank Code School for their support for Erie.rb and the Ruby community.
    Please check them out at http://www.codeschool.com.
    </p>
    <p><a class="btn" href="#">View More Announcements &raquo;</a></p>
  </div><!--/span-->
</div><!--/row-->

